/**
General styling.
*/
body, *, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body {
    background-color: #000000;
    color: white;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
    color: #f0573d;
    font-weight: bolder;
}

a:hover {
    cursor: pointer;
    color: #5544f2;
}

h3 {
    padding-bottom: 2rem;
}

h1, h2, h3, h4, h5, a {
    font-family: 'Encode Sans SC', sans-serif;
}

.info-section-header {
    margin-bottom: 2rem;
}

/******MAIN LAYOUT********/
.container {
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 16px;

}
.banner {
  width: 100%;
  height: 120vh;
  background-image: url("https://wallpapercave.com/wp/IE4qaxU.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(90%);
}

.ul {
    display: flex;
    justify-content: space-between;

}

.info-section, .nav, .search-track {
    padding: 1.5rem 3rem;
    text-align: center;

}
/*repeat(auto-fill, minmax(350px, 1fr))*/

.article-sections {
    columns: 350px 3;
    display: grid;
    grid-template-columns:30% auto auto;
    margin-top: 1.5rem;
    grid-gap: .5rem;
    justify-items: center;

}

.tracks, .genres, .artists {
    padding: 1em;
    border: 2px solid #008000;
    width: 100%;
    float: center;
    height: auto;
    text-align: center;
    background: black;
}

/*************TABLE DESIGN + Search-track page style ***************/

.text {
    margin: 2rem 0;
}

.search-track > form {
    margin-bottom: 2rem;
}

.search-bar {
    height: 46px;
    margin-right: .5rem;
    border: 0.5px solid lightgray;
    width: 20rem;
    padding-right: 40px;
    padding-left: 10px;
    outline: none;
    font-size: 16px;
}

.search-btn {
    padding: 15px;
    width: 10rem;
    cursor: pointer;
    background-color: #5544f2;
    border: none;
    color: white;
    font-size: 16px;
}

.search-btn:hover {
    background-color: #008000;
    color: black;
}
/*#5544f2;*/
.router-btn{
    padding: 15px;
    width: 10rem;
    cursor: pointer;
    background-color: #f0570d;
    border-radius: 12px;
    color: white;
    font-size: 16px;
}

.router-btn:hover {
    background-color:#008000;
    color: #f0573d;
    color: black;
}

.search-bar:hover {
    background-color: lightgray;
}

.tracks {
    border-collapse: collapse;
    width: 100%;
}

.tracks td, .tracks th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tracks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}