<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">


    <title>Home Page</title>

</head>
<body>
<div class="banner">
<div class="container">


    <header>
        <nav class="nav">
            <ul class="ul">
                <div>
                    <li>
                        <a class="router-btn" href="/">Home</a>
                    </li>
                </div>

                <li>
                    <a  class="router-btn" href="/track/search">Search Track</a>
                </li>
            </ul>
        </nav>
    </header>


    <main>
        <article class="info-section">
            <h1>Welcome to the Music App!</h1>
            <p style="font-size: xx-large"> This is the best Music Shop in the City. Apple Music and Spotify, better watch out! Here we come!</p>
            <p style="font-size: x-large"> Here you can see some random selection of songs, artists and genres. If you don't like it, just refresh for some new ones.So much selection!</p>

        </article>

        <section class="article-sections ">

            <article class="genres">
                <h3>Genres 🎸</h3>
                <ul th:each="genres: ${genres}">
                    <li th:text="${genres.getName()}"></li>
                </ul>
            </article>

            <article class="tracks">
                <h3>Tracks 🎵</h3>
                <ul th:each="tracks: ${tracks}">
                    <li th:text="${tracks.getName()}"></li>
                </ul>


            </article>

            <article class="artists">
                <h3>Artists 🧑‍🎤</h3>
                <ul th:each="artists: ${artists}">
                    <li th:text="${artists.getName()}"></li>
                </ul>
            </article>
        </section>

    </main>
</div>
</div>

</body>
</html>
