<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Search Track</title>


</head>
<body>
<div class="banner">
<div class="container">

    <header>
        <nav class="nav">
            <ul class="ul">
                <div>
                    <li>
                        <a class="router-btn" href="/">Home</a>
                    </li>
                </div>

            </ul>
        </nav>
    </header>
    <section class="search-track">

        <article class="text">
            <h1>You can search for your favorite tracks here!</h1>
        </article>

        <form action="#" th:action="@{/track/search}" method="post">
            <label>
                <input name="searchTerm" type="text" th:value="${searchTerm}" placeholder="Search track..."
                       class="search-bar">
            </label>
            <input type="submit" class="search-btn" value="Search Track">


        </form>
        <a class="text" th:if="${searchedForNothing}" th:hidden="false">
            <h2>You must search for something, cmon'!</h2>
        </a>
        <article class="display-search-result"  th:if="${success}" th:hidden="false">

            <h2 th:if="${success}" th:text="'You searched for: ' + ${searchTerm}"></h2>
            <table class="tracks">

                <thead>
                <tr>
                    <th>Track</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Genre</th>
                </tr>

                </thead>
                <tbody>
                <tr th:each="trackInfo: ${trackInfo}">
                    <td th:text="${trackInfo.getTrackName()}"></td>
                    <td th:text="${trackInfo.getArtistName()}"></td>
                    <td th:text="${trackInfo.getAlbumTitle()}"></td>
                    <td th:text="${trackInfo.getGenre()}"></td>
                </tr>

                </tbody>
            </table>
        </article>
    </section>
</div>
</div>
</body>
</html>